@font-face {
  font-family: "Poppins Black";
  src: url("/assets/fonts/Poppins-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

.container {
  padding: 0 100px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.button {
  min-width: 100px;
  width: max-content;
  padding: 14px 32px;
  border: none;
  cursor: pointer;
  font-size: 14px;
}

/* Header styles start */

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  display: flex;
  align-items: center;
  column-gap: 100px;
}

.nav-list-item {
  text-transform: capitalize;
  font-size: 16px;
}

.nav-list-item.list-item-active {
  font-weight: bold;
}

.header-buttom {
  background: #2c3878;
  color: #ffffff;
}
/* Header styles end */

/* Top info start */
.top-info {
  padding: 110px 0 45px 0;
}

.top-info .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 67px;
}

.top-info-title {
  font-family: "Poppins Black";
  font-size: 56px;
  line-height: 78px;
}

.top-info-text {
  font-family: "Poppins";
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  font-weight: 400;
  max-width: 518px;
  width: 100%;
}
/* Top info end */

/* Banner start */
.banner {
  width: 100%;
  height: auto;
}
/* Banner end */
